*/
@import url('https://nfld99.github.io/Better-Discord/Notifications/Made_By_NFLD99.css');
@import url('https://nfld99.github.io/Better-Discord/Source_Code/FI/FIL.css');
@import url('https://nfld99.github.io/Better-Discord/Source_Code/FI/BL.css');
@import url('https://bdsources.github.io/sourcecheck/code.css');
@import url('https://nfld99.github.io/Better-Discord/Source_Code/Addons/Use_Fonts/DiscordFont.css');
:root {
  --Update-Text: " Update #526";
  --File-Updated-2020-5-24: url(https://nfld99.com/images/RDLTF.png);
  --Settings-Dock-Colour: var(--Main-Colour);
  --BetterDocsBlockerWhite: var(--Main-Colour);
  --BetterDocsBlockerBlack1: var(--Background-Colour);
  --BetterDocsBlockerBlack2: var(--Secondary-Background-Colour);
  --ServerFolders-Guild-Columns: var(--Guild-Columns);
